.wrap {
  display: flex;
  margin-top: 7em;
  margin-left: 4em;
}

.stick {
  margin-top: 1rem;
  width: 2px;
  height: 22em;
  margin-left: 4em;
  margin-right: 2em;
}

.firePlace {
  width: 45%;
  height: 400px;
}

.text {
  width: 40%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5em;
  text-align: left;
}