.wrap {
  display: flex;
  margin-top: 5em;
  
}

.bg {
  background: url(firePlice_bg.png);
  
  height: 379px;
  margin-top: 1em;
  margin-left: 4em;
}

.text {
width: 40%;
height: 551px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 1.5em;
text-align: left;
}