.wrap {
  height: 90%;
  width: 30%;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding: 2px;
}

.conficers {
  width: 80%;
  height: 40%;
}

.title {
  font-family: 'Roboto';
}

.minititle {
  font-size: 24px;
  font-family: 'Roboto';
}

.discription {
  text-align: left;
  font-size: 18px;
  padding: 20px;
  font-family: 'Roboto';
}

.price {
  font-style: oblique;
  font-size: 19px;
  font-family: 'Roboto';
  
}

bold {
  color: orange;
}