.wrap {
  height: 90%;
  width: 30%;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding: 2px;
}

.conficers {
  width: 80%;
  height: 40%;
}

.title {
  font-size: 36px;
  margin: 10px 10px 15px 10px;
  font-weight: 600;
  font-family: 'Roboto';
}

.minititle {
  font-size: 24px;
  margin-top: 10px;
  font-weight: 600;
  font-family: 'Roboto';
}

.discription {
  text-align: left;
  font-size: 18px;
  margin: 10px 10px 50px 20px;
  font-family: 'Roboto';
}

.price {
  margin: 5%;
  font-style: oblique;
  font-size: 19px;
  font-family: 'Roboto';
  font-weight: 600;
}

.sum {
  margin-left: 10px;
  color: orange;
}

@media (max-width: 500px) {

  .wrap {
    height: 550px;
    width: 300px;
  }

  .conficers {
    width: 70%;
    height: 30%;
  }
  
  .title {
    font-size: 28px;
    font-family: 'Roboto';
  }
  
  .minititle {
    font-size: 24px;
    font-family: 'Roboto';
  }
  
  .discription {
    text-align: left;
    font-size: 18px;
    margin: 10px 10px 50px 20px;
    font-family: 'Roboto';
  }
  
  .price {
    margin: 5%;
    font-style: oblique;
    font-size: 19px;
    font-family: 'Roboto';
    font-weight: 600;
  }  
}