.titleLine {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 4%;
}

.topStick {
    height: 2px;
    width: 70%;
}

.bottomStick {
    width: 70%;
    height: 2px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 72px;
    color: #000000;
}

@media (max-width: 500px) {
    .title {
        font-size: 28px;
        line-height: 32px;
    }
}