.titleLine {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 4%;
}

.topStick {
    height: 3px;
    width: auto;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
