.wrapper {
    display: flex;
    margin: 2em;
}

.wrap {
    height: 6em;
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 2px;
  }

  .wr {
    margin: 15px 10px 10px 10px;
  }
  
  .conficers {
    width: 60%;
    height: 40%;
  }
  
  .title {
    color: black;
    font-family: 'Roboto';
    font-size: 24px;
  }
  
  .minititle {
    font-size: 24px;
    font-family: 'Roboto';
  }
  
  .discription {
    text-align: left;
    font-size: 18px;
    margin: 10px 10px 50px 20px;
    font-family: 'Roboto';
  }
  
  .price {
    margin: 7%;
    font-style: oblique;
    font-size: 19px;
    font-family: 'Roboto';
    font-weight: 600;
  }

  .flexBtn {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
  }